* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 900px;
    max-width: 95%;
    background: #ffffff;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    }

.info {
    width: 50%;
    background: #1e293b;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;    
}

.calculator {
    width: 50%;
    padding: 40px;
    background: #f8fafc;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs select {
    padding: 14px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    outline: none;
}

.inputs button {
    padding: 14px;
    font-size: 20px;
    background: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.inputs button:hover {
    background: #1d4ed8;
}

.resultado {
    margin-top: 30px;
    font-size: 15px;
}

.resultado p {
    margin-bottom: 7px;
}

.destaque {
    margin-top: 20px;
    background: #e0f2fe;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.destaque p {
    font-size: 15px;
    color: #0369a1;
    margin-bottom: 8px;
}

.destaque h2 {
    font-size: 28px;
    color: #0c4a6e;
}