* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f172a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 900px;
    max-width: 95%;
    background: #ffffff;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    }

.info {
    width: 50%;
    background: #1e293b;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;    
}

.calculator {
    width: 50%;
    padding: 40px;
    background: #f8fafc;
}