* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #001f3f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    max-width: 900px;
    background: #001f3f;
    display: flex;
    border-radius: 20px;
    overflow: hidden;    
}

.info {
    width: 100%;
    background: #083358;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
    
}

.info-texto {
    margin-top: auto;
    margin-bottom: auto;
}

.info h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffd717;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;    
}

.calculator {
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 680px;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.input-group label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 5px;
    color: #0a2a66;
}

.input-group input,
.input-group select {
    padding: 0px 5px;
    height: 44px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid #a2b0c0;
    width: 100%;
    box-sizing: border-box;
    
}

.input-group input:focus,
.input-group select:focus {
    border-color: #0a2a66;
    outline: none;
}

button {
    height: 44px;
    padding: 14px;
    font-size: 15px;
    background-color: #083358;
    color: #ffd717;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    align-self: flex-start;
    width: 100%;
    align-items: center;
    
}

button:hover {
    background: #001f3f;
}

.resultado {
    margin-top: 20px;
    
}

.resultado p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
    
}

.destaque {
    margin-top: 20px;
    background: #e0f2fe;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque p {
    font-size: 20px;
    color: #0369a1;
    margin-bottom: 25px;
}

.destaque h2 {
    font-size: 32px;
    color: #0c4a6e;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #ffd717;
    background-color: #083358;
    margin-top: 30px;
}

@media (max-width: 920px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .info {
        text-align: left;
    }

    .info h1 {
        font-size: 28px;
    }

    .inputs {
        grid-template-columns: 1fr;
    } 

    .inputs input,
    .inputs select,
    .inputs button {
        width: 100%;
    }

    .calculator {
        max-width: 100%;
        padding: 24px;
    }
}